/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body {
  height: 100%;
  margin: 0px;
}

.main-body {
  width: 100%;
  background-color: #f6f6f6;
  height: 89%;
}
